<section class="section text-center" *ngIf="!isLoaded">
    <app-loader></app-loader>
</section>
<section class="section" *ngIf="isLoaded">
  <div class="card">      
    <div class="card-block col-xs-4 col-md-3">
      <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
            <label>Выберите получателя</label>
            <select class="form-control underlined" [ngModel] formControlName="id">
              <option *ngFor="let u of users" [value]="u.id">
                {{u.fullName + ' aka ' + u.login}}
              </option>
            </select>
            <label class="text-danger" *ngIf="formModel.get('id').touched && formModel.get('id').errors?.required">Получатель обязателен</label> 
        </div>
        <div class="form-group required">
          <label>Введите количество PW</label>
          <input class="form-control underlined" formControlName="value" type="number" min="1" placeholder="PW">        
          <label class="text-danger" *ngIf="formModel.get('value').invalid && formModel.get('value').touched">Количество PW должно быть указано</label>     
          <label class="text-danger" *ngIf="formModel.get('value').errors?.min">>Количество PW должно быть больше 0</label>
          <label class="text-danger" *ngIf="formModel.get('value').errors?.max">Количество PW превышает Ваш текущий баланс</label>
        </div>
        <div class="form-row" style="display: -webkit-inline-box;">
          <div class="form-group col-md-8">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="formModel.invalid">Перевести</button>
          </div>
          <div class="form-group col-md-8 offset-md-3">
            <button class="btn btn-lg btn-warning btn-block" (click)="onCancel()">Отмена</button>
          </div>
        </div> 
      </form>
    </div>
  </div> 
</section>
  
  